*{
    margin: 0;
    padding: 0;
}

/* .bgimg{
    background-image: url(img14.png);
    background-repeat: no-repeat;
    
} */

.line{
    margin: 5rem 0;
}
    
/* .title{
    font-size: 39px;
    margin: 43px 0px 27px 78px;
}
 

.para{
    margin-left: 80px ;
} */