*{
    margin: 0;
    padding: 0;
}

html{
    width: fit-content;

}

/* .bgimg{
    background-image: url(img14.png);
    background-repeat: no-repeat;
    
} */

.line{
    margin: 2.5rem 0;
}

.title img{
    margin: 3px 3px 8px 3px;
}

.col-md-4,
.col-md-6,
.col-md-3{
    text-align: left;
}

.share {
    display: flex;
    text-align: center;
}

.col-lg-5{
    margin-left: -37px;
}

.col-lg-12{
    justify-content: center;
    display: flex;
}
    
/* .title{
    font-size: 39px;
    margin: 43px 0px 27px 78px;
}
 

.para{
    margin-left: 80px ;
} */